:root {
  --brand-primary: #116bb1;
  --brand-secondary: #1eca6c;
  --brand-tertiary: #711e8c;

  --background-color: #1eca6c;
  --text-color-primary: #000;
  --text-color-secondary: #222;
  --text-color-tertiary: #f0f0f0;
  --accent-color: var(--brand-primary);
  --foreground-color: #f0f0f0;
  --image-background-color: transparent;

  --primary-font: 'Onest Variable', sans-serif;

  --page-max-width: 80rem;

  --transition-theme: background-color 0.3s ease-in-out, color 0.2s ease-in-out;

  --shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);

  --color-success: #28a745;
  --color-success-bg: #d4edda;
  --color-success-text: #155724;

  --color-danger: #dc3545;
  --color-danger-bg: #f8d7da;
  --color-danger-text: #721c24;

  --color-warning: #ffc107;
  --color-warning-bg: #fff3cd;
  --color-warning-text: #856404;

  --border-color: rgba(128, 128, 128, 0.15);
  --border-color-light: rgba(128, 128, 128, 0.05); /* For backgrounds like text blocks */
}

:root.dark {
  --brand-primary: #116bb1;
  --brand-secondary: #bf00ff;
  --brand-tertiary: #1eca6c;

  --background-color: #222;
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #ddd;
  --text-color-tertiary: #aaa;
  --foreground-color: #111;
  --image-background-color: #fff;

  --shadow: 1rem 0.5rem 1rem rgba(255, 255, 255, 0.1);
}

:root.high-contrast {
  --brand-primary: #00ffdd;
  --brand-secondary: #1eff00;
  --brand-tertiary: #ff00ff;

  --background-color: #000;
  --text-color-primary: #fff;
  --text-color-secondary: #1eff00;
  --text-color-tertiary: #00ffff;
  --accent-color: var(--brand-primary);
  --foreground-color: #000;
  --image-background-color: #fff;

  --shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.1);

  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  justify-items: center;
  min-height: 100%;
  /* background-color: var(--brand-secondary); */
  background-color: var(--foreground-color);
  margin: 0;
  font-family: var(--primary-font);
  color: var(--text-color-primary);
  transition: var(--transition-theme);
  line-height: 1.5;

  scrollbar-width: 2rem;
}

@media screen and (min-width: 600px) {
  body {
    gap: 1rem;
  }
}

body::-webkit-scrollbar {
  width: 2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .body-menu-active {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  padding: 0;
  border: none;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: var(--brand-primary);
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
