---
import Layout from '@layouts/Layout.astro'
---

<Layout
  metadata={{
    title: 'Compromisos de Participación',
    description: 'Compromisos y normas de participación en AJPC',
  }}
>
  <h1>Compromisos de Participación en AJPC</h1>
  <p>Work in progres...</p>
</Layout>
