---
import '@fontsource-variable/onest'

import '@styles/modern-normalize.css'
import '@styles/global.css'

import { ClientRouter, ViewTransitions } from 'astro:transitions'

import LoadThemeScript from '@components/theme/LoadThemeScript.astro'
import Favicons from '@components/Favicons.astro'
import Metadata from '@components/Metadata.astro'
import Header from '@components/Header.astro'
import Aside from '@components/Aside.astro'
import Footer from '@components/Footer.astro'
import FloatingFocus from '@components/FloatingFocus.astro'
import CursorEffect from '@components/CursorEffect.astro'
import TopLoader from '@components/TopLoader.svelte'

const { metadata = {} } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <Favicons />

    <Metadata {...metadata} />

    <meta name="robots" content="index, follow, max-image-preview:large" />

    <LoadThemeScript />
    <slot name="head" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <FloatingFocus />
    <CursorEffect />
    <ViewTransitions />
  </head>
  <body>
    <TopLoader client:load />
    <Header />
    <div class="container">
      <main class="main">
        <slot transition:animate="slide" />
      </main>
      <Aside />
    </div>
    <Footer />
  </body>
</html>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    height: fit-content;
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media screen and (min-width: 600px) {
    .container {
      gap: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      grid-template-columns: 2fr 1fr;
    }
  }

  .main {
    transition: var(--transition-theme);
    padding: 3rem 1rem;
  }

  @media screen and (min-width: 600px) {
    .main {
      padding: 1.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    .main {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>
